// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #fdfdfd !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #dce4eb !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #bbcedd !default;
$gray-900: #85a2b6 !default;
$black: #000 !default;

// big hero 6
$white-100: #fdfdfd !default;
$cyan-300: #85a2b6 !default;
$primary: #a00d1e !default;
